[submodule "archivist-resources"]
	path = resources
	url = git@github.com:chamons/archivist-resources.git
[submodule "web/resources"]
	path = web/resources
	url = git@github.com:chamons/archivist-resources.git
